.hidden {
    display: none;
}

header{
    background-color: aliceblue;
}

header div{
    height: 40px;
    display: flex;
}


header button{
    margin-left: auto;
    box-shadow: -1px 2px 1px aqua; 
    padding: 8px;
    border-color: aqua;
    color: aqua;
}

.header_div {
    display: flex;
    align-items: center; /* Центрування вертикалі */
    justify-content: center; /* Центрування горизонталі */
    border: 2px solid aqua;
    padding: 0px 10px;
    margin-right: 30px;
    color: aqua;
}

.header_div a{
    text-decoration: none;
    color: inherit;
}

#dataTable {
    margin: 0 auto; /* Центрування по горизонталі */
}

#dataTable thead {
    text-align: center; /* Центрування тексту в заголовку таблиці */
}

#dataTable th,
#dataTable td {
    padding: 10px; /* Додайте відступи між стовбцями */
}

.table_button {
    display: flex;
    align-items: center;
    width: 110%;
}
.table_button button{
    width: 48%;
    margin-right: 2%;
}